//CORES
$ma-color1: #8BBF4A;
$ma-color2: #333333;
$ma-color3: #ffffff;
$ma-color4: #A7A7A7;
//BACKGROUND COLOR
$bg-color1: rgba(255, 255, 255, 0.8);
$bg-color2: #F8F8F8;

//FONT-WEIGHT
$font-light: 300;
$font-regular: 400;
$font-medium: 500;

//TRANSITION
@mixin transition($transition){
    -webkit-transition: all $transition linear;
    -moz-transition: all $transition linear;
    transition: all $transition linear;
}

$theme-colors: (
    "ma-color1": $ma-color1,
    "ma-color2": $ma-color2,
    "ma-color3": $ma-color3,
    "bg-color1": $bg-color1,
    "bg-color2": $bg-color2,
);

/*Bootstrap*/
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

//BOOT
@import "../_boot/boot";