#foto{
    margin: 0;
    padding: 5em 0;
    .main_photo_header{
        @extend %title;
        p{
            margin: 0;
            padding: 0;
            font:{
                style: normal;
                size: 1.25em;
                weight: $font-light;
            }
            text:{
                align:  center;
            }
        }
    }
}
